<div class="container-fluid">
  <span class="row px-3 details-title text-left">Agents ledger and add balance</span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <service-admin-agent-list [userPage]="userPage" (userId)="onSelectAgent($event)" (page)="getServiceAdminAgents($event)">
      </service-admin-agent-list>
    </div>
    <div class="col-md-6" *ngIf="shipAgentLedgerPage">
      <h4>{{user?.name}} Ledger book</h4>
      <table class="table border table-responsive-sm">
        <thead>
          <tr>
            <th>Date</th>
            <th>Explanation</th>
            <th>Debit</th>
            <th>Credit</th>
            <th class="text-right">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ledg of shipAgentLedgerPage.content">
            <td>{{ ledg.date }}</td>
            <td>{{ ledg.explanation }}</td>
            <td>{{ ledg.debit }}</td>
            <td>{{ ledg.credit }}</td>
            <td class="text-right">
              {{ ledg.balance | currency: 'BDT ':'symbol':'4.2-2' }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <pagination *ngIf="shipAgentLedgerPage != null" [page]="shipAgentLedgerPage" (getPage)="getShipAgentLedger(user.id, $event)"></pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-3" *ngIf="user">
      <form class="form-inline">
        <div class="form-group mb-2">
          <label> Amount </label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input class="form-control" type="number" id="amount" name="amount" [(ngModel)]="amount" />
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="addAgentBalace()" *ngIf="amount">
          Add
        </button>
      </form>
    </div>
  </div>
</div>