.seat{
    flex: 0 0 8%;
    max-width: 8%;
    padding: 2px 1px;
    &-box {
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        padding: 2px;
        font-size: 12px;
        text-align: center;
        &:hover {
            background-color: lightgrey;
            color: black;
        }
            
        &.disabled {
            background-color: gray !important;
            color: white;
            cursor: not-allowed;
        }
        &.sold {
            border: 1px solid red;
            background-color: red;
            color: white;
          }
          &.reserved {
            border: 1px solid #ffc107;
            background-color: #ffc107;
          }
          &.blocked {
            border: 1px solid lightgrey;
            background-color: lightgrey;
            color: white;
          }
        
    }
}
.gap{
    flex: 0 0 1.3333%;
    max-width: 1.333%;
    // padding: 2px 4px;  
}

.seat2{
    flex: 0 0 12.5%;
    max-width: 12.5%;
    padding: 2px 4px;
    &-box {
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        padding: 2px;
        font-size: 12px;
        text-align: center;
        &:hover {
            background-color: lightgrey;
            color: black;
        }
            
        &.disabled {
            background-color: gray !important;
            color: white;
            cursor: not-allowed;
        }
        &.sold {
            border: 1px solid red;
            background-color: red;
            color: white;
          }
          &.reserved {
            border: 1px solid #ffc107;
            background-color: #ffc107;
          }
          &.blocked {
            border: 1px solid lightgrey;
            background-color: lightgrey;
            color: white;
          }
        
    }
}

.selected {
    background-color: lightblue;
    color: white;
} 

.seat-box {
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    &:hover {
      background-color: lightgrey;
      color: black;
    }
    &.sold {
      border: 1px solid red;
      background-color: red;
      color: white;
    }
    &.reserved {
      border: 1px solid #ffc107;
      background-color: #ffc107;
    }
    &.blocked {
      border: 1px solid lightgrey;
      background-color: lightgrey;
      color: white;
    }
  }