<div class="container-fluid">
  <span class="row px-3 details-title text-left">Add Category</span>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <admin-ship-list
        (ship)="onSelectShip($event)"
        [mode]="2"
      ></admin-ship-list>
    </div>
    <div class="col-md-9" *ngIf="ship">
      <category-form
        [ship]="ship"
        [category]="category"
        (create)="onCreate($event)"
        (update)="onUpdate($event)"
      ></category-form>
    </div>
  </div>
</div>
