<table class="table border">
  <thead>
    <tr>
      <th>Date</th>
      <th>Explanation</th>
      <th>Debit</th>
      <th>Credit</th>
      <th class="text-right">Balance</th>
    </tr>
  </thead>
  <tbody *ngIf="adminCashbookPage">
    <tr *ngFor="let cash of adminCashbookPage.content">
      <td>{{ cash.date | date: 'MMM d, y, h:mm:ss a' }}</td>
      <td>{{ cash.explanation }}</td>
      <td>{{ cash.debit }}</td>
      <td>{{ cash.credit }}</td>
      <td class="text-right">
        {{ cash.balance | currency: 'BDT ':'symbol':'4.2-2' }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <pagination
          *ngIf="adminCashbookPage != null"
          [page]="adminCashbookPage"
          (getPage)="getAdminCashbook($event)"
        ></pagination>
      </td>
    </tr>
  </tfoot>
</table>
