<div class="container-fluid d-print-none">
  <span class="row px-3 details-title text-left">Seat status</span>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Ship list -->
    <div class="col-md-2 d-print-none">
      <div class="form-group mb-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              Date :
            </div>
          </div>
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dd" [minDate]="minDate"
            [maxDate]="maxDate" ngbDatepicker #date="ngbDatepicker" (dateSelect)="onDateChange()"
            (click)="date.toggle()" />
          <div class="input-group-append" (click)="date.toggle()">
            <div class="input-group-text">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Ship List</h5>
          <small>Choose a ship from below list</small>
        </li>

        <a *ngFor="let ship of ships" class="list-group-item list-group-item-action" (click)="onSelectShip(ship)">
          <i class="fa fa-ship"></i> {{ ship.shipNumber }}-{{ ship.name }}
        </a>
      </ul>
    </div>

    <!-- Ship seat list -->
    <div class="col-md-5 d-print-none" *ngIf="filteredSeatList.length">
      <h4>{{ ship?.shipNumber }}-{{ ship?.name }} Seat status</h4>

      <!-- Category list with clickable -->
      <div class="row m-0">
        <div class="btn-group border ml-1" role="group">
          <label type="button" class="btn btn-sm m-0" *ngFor="let cat of categoryList"
            [ngClass]="(cat.name == category.name )? 'btn-primary' : 'btn-light'"
            (click)="onSelectCategory(cat)">{{cat.name}}</label>
        </div>
      </div>

      <div class="row">
        <!-- {{filteredSeatList|json}} -->
        <div class="col-12 p-0">
          <seat-status-bay-cruiser *ngIf="ship.shipName=='BAY_CRUISE'" [filteredSeatList]="filteredSeatList"
            [categoryName]="category.name" (select)="onSeatClick($event)"></seat-status-bay-cruiser>
          <seat-status-sukanto *ngIf="ship.shipName=='SUKANTO_BABU'" [filteredSeatList]="filteredSeatList"
            [categoryName]="category.name" (select)="onSeatClick($event)"></seat-status-sukanto>
        </div>
        <div class="col-12">
          <div class="row border py-3 mt-3" *ngIf="filteredSeatList?.length">
            <div class="col-3">
              <div class="foo blocked"></div>
              Blocked
            </div>
            <div class="col-3">
              <div class="foo reserved"></div>
              Reserved
            </div>
            <div class="col-3">
              <div class="foo sold"></div>
              Sold
            </div>
            <div class="col-3">
              <div class="foo "></div>
              Free
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Show ticket -->
    <div class="col-md-5" *ngIf="ticket">
      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="errorMessage.length>0">
        <strong>Error!</strong> {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onClear()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <ticket-sukantababu-print *ngIf="ticket && ticket.ship?.shipName == 'SUKANTO_BABU'" [ticket]="ticket"
        [short]="shortTicket" (close)="onClear()">
      </ticket-sukantababu-print>
      <tiket-baycruise-print *ngIf="ticket && ticket.ship?.shipName == 'BAY_CRUISE'" [ticket]="ticket"
        [short]="shortTicket" (close)="onClear()">
      </tiket-baycruise-print>
      <div class="d-flex flex-row-reverse bd-highlight my-2  d-print-none">
        <button class="btn btn-danger btn-sm mx-1" (click)="onCancelBooking(ticket.id, ticket.eStatus)">
          Cancel {{ ticket.eStatus == 'SEAT_RESERVED' ? 'Reservation' : 'Booking' }}
        </button>
        <button class="btn btn-sm btn-primary mx-1" *ngIf="ticket.eStatus == 'SEAT_RESERVED'"
          (click)="onConfirmReservation(ticket.id)">
          Confirm Reservation
        </button>
      </div>
    </div>
  </div>
