<h3 class="text-center">Adjust category discount map</h3>
<form class="mb-4" [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false">
  <div class="form-group">
    <label for="hotelName">Category</label>
    <label class="form-control">
      {{ category?.name }}
    </label>
  </div>

  <div class="form-group">
    <label for="startDate">Start date</label>
    <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker"
      (click)="startDate.toggle()" />
  </div>
  <div class="form-group">
    <label for="endDate">End date</label>
    <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker"
      (click)="endDate.toggle()" />
  </div>
  <div class="form-group">
    <label for="amount">New Price</label>
    <input type="number" class="form-control" id="amount" formControlName="amount" />
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-sm btn-danger" (click)="onCloseFrom()">
      Close
    </button>
    <span (mouseenter)="mouseoverShifting = true">
      <button type="submit" [ngClass]="{
          disabled: form.invalid
        }" class="btn btn-primary btn-success mx-1">
        Submit
      </button>
    </span>
  </div>
</form>