<div class="row border m-1" style="border-radius: 3px 3px 0px 0px; ">
  <div class="col-12 bg-secondary text-white" style="border-radius: 3px 3px 0px 0px; ">
    Seat list for
    <strong> {{ categoryName }} </strong>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-2 col-2 p-1 " *ngFor="let seat of filteredSeatList">
    <div class="seat-box" [ngClass]="{
          selected: selectedSeatContainSeatId(seat.id),
          disabled: !seat.available
        }" (click)="onSeatClick(seat.id)">
      {{ seat.seatNumber }}
    </div>
  </div>
</div>