.seat-box {
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    &:hover {
      background-color: lightgrey;
      color: black;
    }
    &.disabled {
      background-color: gray !important;
      color: white;
      cursor: not-allowed;
    }
  }
  .selected {
    background-color: lightblue;
    color: white;
  }