<div class="container-fluid">
  <span class="row px-3 details-title text-left">Category Details</span>
</div>
<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-3"></div>
    <div class="col-md-9" *ngIf="category">
      <div class="form-group">
        <label for="exampleInputEmail1">Ship Id </label>
        <label class="form-control"> {{ category?.ship?.id }} </label>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category Name </label>
        <label class="form-control">{{ category?.name }}</label>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="seatQuality">Seat Quality </label>
          <label class="form-control">{{ category?.seatQuality }}</label>
        </div>

        <div class="form-group col-md-6">
          <label for="floorNumber">Floor Number</label>
          <label class="form-control">{{ category?.floorNumber }}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description </label>
        <label class="form-control">{{ category?.description }}</label>
      </div>

      <div class="border p-2 my-3">
        <h3 class="text-center">Facilities</h3>
        <div class="form-row align-items-center">
          <div class="col-6 col-md-4">
            <label class="form-check-label">
              <i
                class="fa "
                [ngClass]="
                  category?.categoryFacilities?.topFloor
                    ? 'fa-check-square-o'
                    : 'fa-square-o'
                "
              >
              </i>
              Top Floor
            </label>
          </div>
          <div class="col-6 col-md-4">
            <label class="form-check-label">
              <i
                class="fa "
                [ngClass]="
                  category?.categoryFacilities?.ac
                    ? 'fa-check-square-o'
                    : 'fa-square-o'
                "
              >
              </i>
              AC
            </label>
          </div>
          <div class="col-6 col-md-4">
            <label class="form-check-label">
              <i
                class="fa "
                [ngClass]="
                  category?.categoryFacilities?.freeBreakfast
                    ? 'fa-check-square-o'
                    : 'fa-square-o'
                "
              >
              </i>
              Free Breakfast
            </label>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row-reverse bd-highlight my-2">
        <a
          class="btn btn-warning btn-sm mx-1"
          routerLink="/dashboard/admin/category/add/{{ category.id }}"
        >
          <i class="fa fa-pencil-square-o"></i> Edit
        </a>
        <a
          class="btn btn-primary btn-sm mx-1"
          routerLink="/dashboard/admin/category"
        >
          <i class="fa fa-list"></i> Category list
        </a>
      </div>
    </div>
  </div>
</div>
<!-- {{ category | json }} -->
