@import 'variables';

.ship-row {
  // background-color: $ship-box-color;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.16) !important;
  margin-bottom: 10px;

  // color: #fff;
  &-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }

  &-startTime {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }

  &-route {
    color: #000;
  }
}

.ship-details {
  background-color: white;
  border: 1px solid #0c0266;
}

.seat-box {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  font-size: 12px;
  text-align: center;

  &:hover {
    background-color: lightgrey;
    color: black;
  }

  &.disabled {
    background-color: gray !important;
    color: white;
    cursor: not-allowed;
  }
}

.selected {
  background-color: lightblue;
  color: white;
}

// .ticket-card {
//   border: 1px solid lightgray;
//   color: black;
//   border-radius: 4px 4px 0 0;
//   &-head {
//     background-color: lightgrey;
//   }
// }
