<ticket-sukantababu-print *ngIf="ticket && (ticket.ship?.shipName == 'SUKANTO_BABU')" [ticket]="ticket"
  (close)="onTicketClose()">
</ticket-sukantababu-print>
<tiket-baycruise-print *ngIf="ticket && ticket.ship?.shipName == 'BAY_CRUISE'" [ticket]="ticket"
  (close)="onTicketClose()">
</tiket-baycruise-print>

<div class="container d-print-none" *ngIf="!ticket">
  <div class="row border my-2 p-2">
    <div class="input-group-text btn btn-secondary" (click)="adjustDay(-1)">
      <i class="fa fa-chevron-left"></i> &nbsp;
    </div>
    <div class="col-auto">
      <div class="form-group mb-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              Date :
            </div>
          </div>
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dd" [minDate]="minDate"
            [maxDate]="maxDate" ngbDatepicker #date="ngbDatepicker" (dateSelect)="closeDetails()"
            (click)="date.toggle()" readonly/>
          <div class="input-group-append" (click)="date.toggle()">
            <div class="input-group-text">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group-text btn btn-secondary" (click)="adjustDay(1)">
      &nbsp;
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="row border py-2 ship-row" *ngFor="let ship of shipPage?.content">
    <div class="col-md-3 col-6">
      <span class="ship-row-name">
        {{ ship.name }}
      </span>
      <br /> {{ ship.shipNumber }}
    </div>
    <div class="col-md-2 col-6">
      {{ dd.day }}-{{ dd.month }}-{{ dd.year }}
      <br />
      <span class="ship-row-startTime">
        <i class="fa fa-clock-o"></i> {{ ship.startTime }}
      </span>
    </div>
    <div class="col-md-3 col-6 d-flex align-items-center ship-row-route">
      <div class="">{{ ship.startingPoint }} - {{ ship.droppingPoint }}</div>
    </div>
    <div class="col-md-4 col-6 d-flex flex-row-reverse align-items-center ">
      <button class="btn btn-sm btn-success" (click)="onDetails(ship.id)">
        <i class="fa fa-hand-o-up"></i> Details
      </button>
    </div>
    <div class="col-12 px-1" *ngIf="detailsId == ship.id">
      <div class="ship-details">
        <loading *ngIf="seatLoading"></loading>
        <div *ngIf="seatList">
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-sm btn-danger" type="button" (click)="closeDetails()" style="border-radius: 0;">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row m-0">
                <span *ngFor="let cat of categoryList">
                  <button *ngIf="cat.name !='Standing'" class="btn-sm m-1" [ngClass]="
                      cat.id == category.id ? 'btn-primary' : 'btn-secondary'
                    " (click)="onSelectCategory(cat.id)">
                    {{ cat.name }}
                  </button>
                </span>
              </div>
              <seat-plan-other *ngIf="ship.shipName =='OTHER'" [filteredSeatList]="filteredSeatList"
                [selectedSeat]="selectedSeat" [categoryName]="category?.name" (select)="onSeatClick($event)">
              </seat-plan-other>
              <seat-plan-bay-cruiser *ngIf="ship.shipName=='BAY_CRUISE'" [filteredSeatList]="filteredSeatList"
                [selectedSeat]="selectedSeat" [categoryName]="category?.name" (select)="onSeatClick($event)">
              </seat-plan-bay-cruiser>
              <seat-plan-sukanto *ngIf="ship.shipName=='SUKANTO_BABU'" [filteredSeatList]="filteredSeatList"
                [selectedSeat]="selectedSeat" [categoryName]="category?.name" (select)="onSeatClick($event)">
              </seat-plan-sukanto>

            </div>
            <div class="col-md-6 mb-3">
              <div *ngIf="!dataSending && selectedSeat.length">
                <ticket-details [seatList]="selectedSeat"></ticket-details>
                <user-form (create)="onCreateUser($event)"></user-form>
              </div>
              <div class="alert alert-primary" *ngIf="message.length">
                {{ message }} &nbsp;
                <button class="btn btn-sm btn-warning" (click)="onClear()">
                  Clear
                </button>
              </div>
              <div class="alert alert-danger" *ngIf="errorMessage.length">
                {{ errorMessage }} &nbsp;
                <button class="btn btn-sm btn-warning" (click)="onClear()">
                  Clear
                </button>
              </div>
              <loading *ngIf="dataSending"></loading>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>