<div class="container-fluid">
  <span class="row px-3 details-title text-left">
    Change password
  </span>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- <find-user-form (phone)="onFindByPhone($event)"></find-user-form> -->
      <h3 class="text-center">User List</h3>
      <form (ngSubmit)="searchUser()" class="mx-3 my-1">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-search"></i>&nbsp; Search
            </div>
          </div>
          <input type="text" class="form-control" id="userQuery" name="userQuery" placeholder="User name or phone"
            [(ngModel)]="query">
        </div>
      </form>
      <table class="table border table-responsive-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="userPage?.content.length > 0">
          <tr *ngFor="let user of userPage.content">
            <td>{{ user.name }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.email }}</td>
            <td>
              <span *ngFor="let role of user?.roles; let i = index">
                {{ role.name }}
              </span>
            </td>
            <td class="text-right">
              <button class="btn btn-warning btn-sm" (click)="onEdit(user.id)">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <pagination *ngIf="userPage != null" [page]="userPage" (getPage)="getUserPage($event)">
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-6" *ngIf="user && !successMessage">
      <change-password-form [user]="user" (create)="onChangePassword($event)">
      </change-password-form>
    </div>
    <div class="col-md-6" *ngIf="successMessage">
      <div class="alert alert-success" role="alert">
        Congratulation! Password changed successfully
      </div>
    </div>
  </div>
</div>
