<!-- {{ticket | json}} -->
<div class="container-fluid ticket">
  <div class="row m-0">
    <div class="col-md-6 col-6 d-print-none">
      <h3>{{ ticket.shipName }}</h3>
    </div>
    <div class="col-12 text-right">
      <!-- ISSUE DATE: {{ ticket.created | date: 'd MMM,yy' }} -->
      <button class="btn btn-sm btn-primary d-print-none mx-1" (click)="onPrint()">
        <i class="fa fa-print"></i> Print
      </button>

      <button class="btn btn-sm btn-danger d-print-none mx-1" (click)="onClose()">
        <i class="fa fa-times"></i> Close
      </button>
    </div>
  </div>

  <div class="row m-0 border" *ngIf="!short && ticket.eStatus == 'SEAT_SOLD'; else shortTicket">
    <div class="col_1 border-right">
      <table>
        <tr>
          <td colspan="2" class="text-center" style="font-size: 17px;">{{ ticket.categoryName }}</td>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to {{ ticket.ship.droppingPoint }}</td>
        </tr>
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;</td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index;">
              <span *ngIf="i==5">
                <br> </span>
              <h5 style="display: inline; margin-right: 2px;">
                <span class="badge badge-secondary">{{ sb.seatNumber }} </span>
              </h5>
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare }} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
      </table>
    </div>
    <div class="col_2 border-right">
      <table>
        <tr>
          <td colspan="2" class="text-center" style="font-size: 17px;">{{ ticket.categoryName }}</td>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to {{ ticket.ship.droppingPoint }}</td>
        </tr>
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;</td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index">
              <span *ngIf="i==5">
                <br> </span>

              <!-- <h5 style="display: inline; margin-right: 2px;"> -->
              <span class="badge badge-secondary"> {{ sb.seatNumber }} </span>
              <!-- </h5> -->
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare }} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
      </table>
      <div class="text-center">Powered by:www.hotelswave.com</div>
    </div>
    <div class="col_2 border-right">
      <table>
        <tr>
          <td colspan="2" class="text-center" style="font-size: 17px;">{{ ticket.categoryName }}</td>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to {{ ticket.ship.droppingPoint }}</td>
        </tr>
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;
          </td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index;">
              <span *ngIf="i==5">
                <br> </span>

              <!-- <h5 style="display: inline; margin-right: 2px;"> -->
              <span class="badge badge-secondary"> {{ sb.seatNumber }} </span>
              <!-- </h5> -->
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare }} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Time:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
      </table>
      <div class="text-center">Developed by: www.unololtd.com</div>
    </div>
  </div>
  <ng-template #shortTicket>
    <div class="row m-0 border">
      <table>
        <tr>
          <td colspan="2" class="text-center" style="font-size: 17px;">{{ ticket.categoryName }}</td>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to {{ ticket.ship.droppingPoint }}</td>
        </tr>
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;</td>

          <td>
            <span *ngFor="let sb of ticket.subBookingList">
              <h5 style="display: inline; margin-right: 2px;">
                <span class="badge badge-secondary"> {{ sb.seatNumber }} </span>
              </h5>
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare }} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</div>

<!-- <div>
  <div class="ticket-print-main">
    <div style="height:270px;">
      <table style="width:800px;font-size: 11px; font-family: Arial, Helvetica, sans-serif" border="0">
        <tbody>
          <tr>
            <td style="padding-top: 40px; width: 355px; padding-right: 5px;padding-left: 5px;vertical-align: top;">
              <table style="width:350px; font-size:12px !important;" border="0">
                <tbody>
                  <tr>
                    <td colspan="4" class="ticket-subhead" style="font-size: 16px;padding-left:60px; "> HASNA HENA</td>
                  </tr>
                  <tr></tr>
                  <tr>

                    <td colspan="1" class="ticket-head" style="font-size: 14px; width:150px; text-align: left;"> DATE OF ISSUE </td>
                    <td colspan="1" style="font-size: 14px;" class="ticket-value">:
                      <b>01 Jan 2019</b>
                    </td>

                  </tr>
                  <tr>
                    <td class="ticket-head" style="font-size: 14px;text-align: left;"> DATE OF JOURNEY</td>
                    <td style="font-size: 14px;" class="ticket-value">:
                      <b>10 Jan 2019</b>
                    </td>

                  </tr>
                  <tr>
                    <td class="ticket-head" style="padding-left:2px;text-align: left;font-size: 14px;"> PNR</td>
                    <td colspan="4" style="font-size: 14px;" class="ticket-value">:
                      <b>5C2B6ACF35320</b>
                    </td>
                  </tr>


                  <tr>
                    <td style="font-size: 14px;text-align: left;" class="ticket-head">NAME </td>
                    <td style="font-size: 14px;" class="ticket-value">:
                      <b>Mr Tareq Hasan</b>
                    </td>
                  </tr>

                  <tr>
                    <td style="font-size: 14px;text-align: left;" class="ticket-head">CONTACT #</td>
                    <td style="font-size: 14px;" class="ticket-value">:
                      <b>01759503561</b>
                    </td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td colspan="4" class="ticket-head" style="padding-left:20px;text-align:left;font-size: 20px;">
                      <b> TEKNAF TO ST.MARTIN </b>
                    </td>

                  </tr>
                  <tr></tr>
                  <tr></tr>
                  <tr>
                    <td class="ticket-head" style="font-size: 14px;text-align: left;">SEAT FARE </td>
                    <td style="font-size: 14px;" class="ticket-value">:
                      <b>TK. 1600.00</b>
                    </td>
                  </tr>
                  <tr></tr>

                  <tr>
                    <td class="ticket-head" style="font-size: 14px;text-align: left;">TOTAL FARE </td>
                    <td style="font-size: 14px;" class="ticket-value">:
                      <b>TK. 1600.00</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head" style="font-size: 14px;text-align: left;">Seat NO </td>
                    <td style="font-size: 14px;" colspan="3" class="ticket-value">:
                      <b>H12</b>,
                      <b>H11</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head" style="font-size: 14px;text-align: left;">Departure Time </td>
                    <td style="font-size: 13px;" class="ticket-value">:
                      <b>
                        <i class="fa fa-clock-o"></i> 09:25 AM</b>
                    </td>
                  </tr>
                </tbody>
              </table>

            </td>
            <td style="padding-top: 35px; width: 220px; padding-right: 5px;vertical-align: top;">
              <table style="width:210px;font-size:11px; padding-left: -20px;" border="0">
                <tbody>
                  <tr>
                    <td colspan="2" style="padding-left:50px;" class="ticket-subhead">HASNA HENA</td>
                  </tr>
                  <tr>
                    <td width="65" class="ticket-head">Date OF ISSUE :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>01 Jan 2019</b>
                    </td>
                  </tr>
                  <tr>
                    <td width="120" class="ticket-head">Date OF JOURNEY :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>10 Jan 2019</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">PNR :</td>
                    <td class="ticket-value">5C2B6ACF35320</td>
                  </tr>
                  <tr>
                    <td width="65" class="ticket-head">NAME :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>Mr Tareq Hasan</b>
                    </td>
                  </tr>
                  <tr>
                    <td width="65" class="ticket-head">CONTACT# :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>01759503561</b>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" class="ticket-head" style="padding-left:0px;text-align:left;font-size:14px;">
                      <b> TEKNAF TO ST.MARTIN </b>
                    </td>

                  </tr>

                  <tr>
                    <td class="ticket-head">SEAT FARE :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>TK. 1600.00</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">TOTAL FARE :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>TK. 1600.00</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">SEAT NO :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      ,
                      <b>H12</b>
                      ,
                      <b>H11</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">DEPARTURE TIME :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>
                        <i class="fa fa-clock-o"></i> 09:25 AM</b>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td style="padding-top: 35px; width: 230px;padding-left: 20px;vertical-align: top;">
              <table style="width:210px;font-size:10px;">
                <tbody>
                  <tr>
                    <td colspan="2" style="padding-left:50px;" class="ticket-subhead">HASNA HENA</td>
                  </tr>
                  <tr>
                    <td width="65" class="ticket-head">Date OF ISSUE :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>01 Jan 2019</b>
                    </td>
                  </tr>
                  <tr>
                    <td width="120" class="ticket-head">Date OF JOURNEY :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>10 Jan 2019</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">PNR :</td>
                    <td class="ticket-value">5C2B6ACF35320</td>
                  </tr>
                  <tr>
                    <td width="65" class="ticket-head">NAME :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>Mr Tareq Hasan</b>
                    </td>
                  </tr>
                  <tr>
                    <td width="65" class="ticket-head">CONTACT# :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>01759503561</b>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="ticket-head" style="padding-left:0px;text-align:left;font-size:14px;">
                      <b> TEKNAF TO ST.MARTIN </b>
                    </td>

                  </tr>
                  <tr>
                    <td class="ticket-head">SEAT FARE :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>TK. 1600.00</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">TOTAL FARE :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>TK. 1600.00</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">SEAT NO :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>H12</b>
                      ,
                      <b>H11</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="ticket-head">DEPARTURE TIME :</td>
                    <td style="font-size: 13px;" class="ticket-value">
                      <b>
                        <i class="fa fa-clock-o"></i> 09:25 AM</b>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div> -->