<!-- {{ticket | json}} -->
<div class="container-fluid ticket">
  <div class="row m-0">
    <div class="col-md-6 col-6 d-print-none">
      <h3>{{ ticket.shipName }}</h3>
    </div>
    <div class="col-12 text-right">
      <!-- ISSUE DATE: {{ ticket.created | date: 'd MMM,yy' }} -->
      <button class="btn btn-sm btn-primary d-print-none mx-1" (click)="onPrint()">
        <i class="fa fa-print"></i> Print
      </button>

      <button class="btn btn-sm btn-danger d-print-none mx-1" (click)="onClose()">
        <i class="fa fa-times"></i> Close
      </button>
    </div>
  </div>

  <div class="row m-0 border" *ngIf="!short && ticket.eStatus == 'SEAT_SOLD'; else shortTicket">
    <div class="col_1 border-right">
      <table>
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to
            {{ ticket.ship.droppingPoint }}</td>
        </tr>

        <tr>
          <td class="text-right">Category :&nbsp;</td>
          <th>{{ ticket.category}}</th>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Category:&nbsp;</td>
          <td>{{ticket.category}}</td>
        </tr> -->
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;
          </td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index;">
              <span *ngIf="i==5">
                <br> </span>
              <h5 style="display: inline; margin-right: 2px;">
                <span class="seat-number">{{ sb.seatNumber }} </span>
              </h5>
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare - ticket.totalDiscount}} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Issued by:&nbsp;</td>
          <td>{{ticket?.createdBy?.name}}</td>
        </tr>
      </table>
      <div class="text-center">Developed by: www.unololtd.com</div>
    </div>
    <div class="col_2 border-right">
      <table>
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to
            {{ ticket.ship.droppingPoint }}</td>
        </tr>
        <tr>
          <td class="text-right">Category :&nbsp;</td>
          <th>{{ ticket.category }}</th>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;
          </td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index">
              <span *ngIf="i==5">
                <br> </span>

              <!-- <h5 style="display: inline; margin-right: 2px;"> -->
              <span class="seat-number"> {{ sb.seatNumber }} </span>
              <!-- </h5> -->
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare - ticket.totalDiscount}} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Issued by:&nbsp;</td>
          <td>{{ticket?.createdBy?.name}}</td>
        </tr>
      </table>
      <div class="text-center">Powered by:www.hotelswave.com</div>
    </div>
    <div class="col_2 border-right">
      <table>
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to
            {{ ticket.ship.droppingPoint }}</td>
        </tr>

        <tr>
          <td class="text-right">Category:&nbsp;</td>
          <th>{{ ticket.category}}</th>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Category:&nbsp;</td>
          <td>{{ticket.category}}</td>
        </tr> -->
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;
          </td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index;">
              <span *ngIf="i==5">
                <br> </span>
              <h5 style="display: inline; margin-right: 2px;">
                <span class="seat-number">{{ sb.seatNumber }} </span>
              </h5>
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare - ticket.totalDiscount}} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Issued by:&nbsp;</td>
          <td>{{ticket?.createdBy?.name}}</td>
        </tr>
      </table>
    </div>
  </div>
  <ng-template #shortTicket>
    <div class="row m-0 border">
      <table>
        <tr>
          <td colspan="2" style="text-align: center;font-size: 16px;">{{ ticket.ship.startingPoint }} to
            {{ ticket.ship.droppingPoint }}</td>
        </tr>

        <tr>
          <td class="text-right">Category:&nbsp;</td>
          <th>{{ ticket.category}}</th>
        </tr>
        <tr>
          <td class="text-right">Ticket Id:&nbsp;</td>
          <td>{{ ticket.id }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Issue Date:&nbsp;</td>
          <td>{{ ticket.created | date: 'd MMM,yy' }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Journey Date:&nbsp;</td>
          <td>{{ ticket.subBookingList[0].date | date: 'd MMM,yy' }}</td>
        </tr>
        <tr>
          <td class="text-right">Name:&nbsp;</td>
          <td>{{ ticket.user.name }}</td>
        </tr>
        <!-- <tr>
          <td class="text-right">Category:&nbsp;</td>
          <td>{{ticket.category}}</td>
        </tr> -->
        <tr>
          <td class="text-right">Phone:&nbsp;</td>
          <td>
            {{ ticket.user.phoneNumber }}
          </td>
        </tr>
        <!-- <tr>
          <td class="text-right">From:</td>
          <td>{{ ticket.ship.startingPoint }}</td>
        </tr> -->
        <tr>
          <td class="text-right">Seats: &nbsp; &nbsp;
            <br> Total: {{ticket.subBookingList.length}} &nbsp; &nbsp;
          </td>
          <td>
            <span *ngFor="let sb of ticket.subBookingList; let i = index;">
              <span *ngIf="i==5">
                <br> </span>
              <h5 style="display: inline; margin-right: 2px;">
                <span class="seat-number">{{ sb.seatNumber }} </span>
              </h5>
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-right">
            Fare:&nbsp;
          </td>
          <td> {{ ticket.totalFare - ticket.totalDiscount}} BDT</td>
        </tr>
        <tr>
          <td class="text-right">Departure:&nbsp;</td>
          <td>
            {{ ticket.ship.startTime }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Issued by:&nbsp;</td>
          <td>{{ticket?.createdBy?.name}}</td>
        </tr>
      </table>
    </div>
  </ng-template>
</div>