<div class="container-fluid d-print-none">
  <span class="row px-3 details-title text-left">Cashbook</span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-print-none">
      <!-- <service-admin-ship-list
        (ship)="onShipSelect($event)"
      ></service-admin-ship-list> -->
    </div>
    <div class="col-md-10">
      <loading *ngIf="loading"></loading>
      <!-- <h3 class="text-center" *ngIf="shipAdminCashbookPage">
        Cashbook for {{ ship?.shipNumber }}-{{ ship?.name }}
      </h3> -->
      <service-admin-cashbook *ngIf="shipAdminCashbookPage" [shipAdminCashbookPage]="shipAdminCashbookPage" (page)="getShipAdminCashbook($event)"></service-admin-cashbook>
    </div>
  </div>
</div>