<!-- Report for Admin -->
<div class="container my-3" *ngIf="isAdmin">
  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
    <h4>Quick Links</h4>
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="/dashboard/admin/sell/print-ticket">Print Ticket</a></li>
      <li class="list-group-item"><a routerLink="/dashboard/admin/sell">Sell</a></li>
    </ul>
  </div>
</div>

<!-- Report for Service Admin -->
<div class="container my-3" *ngIf="isServiceAdmin">
  <div class="row my-2">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <h4>Quick Links</h4>
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/dashboard/service-admin/sell/print">Print Ticket</a></li>
        <li class="list-group-item"><a routerLink="/dashboard/service-admin/sell">Sell</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-deep-purple">
          <i class="fa fa-ship"></i>
        </div>
        <div class="content">
          <div class="text">SHIPS</div>
          <div class="number">{{ report?.numberOfShips }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-green">
          <i class="fa fa-th-large"></i>
        </div>
        <div class="content">
          <div class="text">TOTAL SEAT</div>
          <div class="number">{{ TotalSeat }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-teal">
          <i class="fa fa-ticket"></i>
        </div>
        <div class="content pt-1">
          <div>DATE: {{dd?.day}}/{{dd?.month}}/{{dd?.year}}</div>
          <div class="text m-0">SOLD/UNSOLD</div>
          <div class="number">{{ TotalSold }}/{{ TotalSeat - TotalSold }}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="chart">
    <canvas id="canvas">{{ chart.config }}</canvas>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-hover table-responsive-sm">
        <tr>
          <td>
            <h3>
              Ships</h3>
          </td>
        </tr>
        <tr *ngFor="let ship of report?.ships">
          <td>{{ ship.shipNumber }} - {{ ship.name }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<div class="container my-3" *ngIf="isAgent">
  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
    <h4>Quick Links</h4>
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="/dashboard/admin-agent/sell">Sell</a></li>
    </ul>
  </div>
</div>

<div class="container my-3" *ngIf="isServiceAgent">
  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
    <h4>Quick Links</h4>
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="dashboard/service-agent/sell">Sell</a></li>
    </ul>
  </div>
</div>
