<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row my-2 mr-1">
    <div class="col">
      <input class="form-control" formControlName="name" placeholder="Name" />
      <small
        class="text-danger"
        *ngIf="form.controls.name.errors && form.controls.name.touched"
      >
        Name required
      </small>
    </div>
    <div class="col">
      <input
        class="form-control"
        maxlength="11"
        formControlName="phone"
        placeholder="Phone number 01732..."
      />
      <small
        class="text-danger"
        *ngIf="form.controls.phone.errors && form.controls.phone.touched"
      >
        <div [hidden]="!form.controls['phone'].errors.required">
          Phone number required
        </div>
        <div [hidden]="!form.controls['phone'].errors.pattern">
          Phone number format 01934953023
        </div>
      </small>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-sm btn-success"
    [ngClass]="{
      disabled: form.invalid
    }"
  >
    Confirm
  </button>
</form>
