<div class="container-fluid">
  <span class="row px-3 details-title text-left">Add Income</span>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <loading *ngIf="loading"></loading>
      <h3 class="text-center" *ngIf="shipAdminCashbookPage">
        Cashbook
      </h3>
      <service-admin-cashbook *ngIf="shipAdminCashbookPage" [shipAdminCashbookPage]="shipAdminCashbookPage" (page)="getShipAdminCashbook($event)"></service-admin-cashbook>

      <!-- <service-admin-cashbook
        *ngIf="shipCashbookPage"
        [shipCashbookPage]="shipCashbookPage"
        (page)="getServiceAdminCashbookByShipId(ship.id, $event)"
      ></service-admin-cashbook> -->
    </div>
    <div class="col-md-4">
      <service-admin-income-expense-form [expenseForm]="expenseForm" (value)="onSubmit($event)">
      </service-admin-income-expense-form>
    </div>
  </div>
</div>