<div class="container-fluid">
  <span class="row px-3 details-title text-left">
    Change password
  </span>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf="user">
      <change-password-form [user]="user" (create)="onChangePassword($event)">
      </change-password-form>
    </div>
    <div class="col-md-12" *ngIf="successMessage">
      <div class="alert alert-success" role="alert">
        Congratulation! Password changed successfully
      </div>
    </div>
  </div>
</div>
