<nav class="navbar navbar-expand-md navbar-light py-3 shadow-sm">
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" [class.show]="show">
    <nav class="navbar-nav mr-auto">
      <a class="nav-item" routerLink="/">
        <img class="company-logo" src="assets/images/logo.png" alt="logo" />
      </a>

      <li class="nav-item" (click)="toggleCollapse()">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="adminHotels" ngbDropdownToggle> Ships </a>
          <div ngbDropdownMenu aria-labelledby="adminHotels">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/ships/add">
              Add
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/ships">
              List
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/ships/shipMap">
              Ship Map
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="adminCategory" ngbDropdownToggle>
            Category
          </a>
          <div ngbDropdownMenu aria-labelledby="adminCategory">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category/add">
              Add
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category">
              List
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category/discount-map">
              Discount map
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="adminRoom" ngbDropdownToggle> Seats </a>
          <div ngbDropdownMenu aria-labelledby="adminRoom">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/seats/add">
              Add
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/seats">
              List
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle> Sell </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/sell">
              Sell
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/sell/mySells">
              My Sells
            </a>
            <!-- <a
              class="dropdown-item"
              (click)="toggleCollapse()"
              routerLink="/dashboard/admin/sell/cancle-booking"
            >
              Cancel Booking
            </a> -->
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/sell/seat-status">
              Seat Status
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/sell/print-ticket">
              Print ticket
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
            Accounting
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/accountings/cashbook">
              Cashbook
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/accountings/add-income">
              Add Income
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/accountings/add-expense">
              Add Expense
            </a>
            <hr>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/accountings/ship-admin-ledger">
              Ship Admin Ledger
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/accountings/pay-ship-admin">
              Pay Ship Admin
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/accountings/agent-balance">
              Agent balance
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="adminRoom" ngbDropdownToggle> Users </a>
          <div ngbDropdownMenu aria-labelledby="adminRoom">
            <!-- <a
              class="dropdown-item"
              (click)="toggleCollapse()"
              routerLink="/dashboard/admin/users/add"
            >
              Add
            </a> -->
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/users">
              List
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/users/admin-agent">
              Create Agent
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/users/assign-ship-admin">
              Assign Ship Admin
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/users/assign">
              Assign Ship Agent
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/users/change-password">
              Change user password
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="adminReport" ngbDropdownToggle>
            Report
          </a>
          <div ngbDropdownMenu aria-labelledby="adminReport">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/report/sells">
              Total report
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/report/sells-range">
              Total report range
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/report/ship">
              Individual report
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/report/agent">
              Agent report
            </a>
          </div>
        </div>
      </li>

      <!-- ***************************** ROLE_SERVICE_ADMIN *****************************  -->
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle> Users </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/users/agent">
              Add Agent
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle> Sell </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/sell">
              Sell
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/sell/status">
              Status
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/sell/print">
              Print Ticket
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/sell/cancel">
              Cancel Reservation
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="serviceAdminAccounting" ngbDropdownToggle>
            Accounting
          </a>
          <div ngbDropdownMenu aria-labelledby="serviceAdminAccounting">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/accountings/cashbook">
              Cashbook
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/accountings/add-income">
              Add Income
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/accountings/add-expense">
              Add Expense
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/accountings/hotelswave-ledgers">
              Hotelswave ledger
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/accountings/agents">
              Agent Balance
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_ADMIN')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="serviceAdminAccounting" ngbDropdownToggle>
            Report
          </a>
          <div ngbDropdownMenu aria-labelledby="serviceAdminAccounting">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/report/sells">
              Sells report
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/report/range">
              Sells report range
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/report/counter">
              Counter report
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/report/booking">
              Booking report
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/service-admin/report/agent">
              Agent report
            </a>
          </div>
        </div>
      </li>

      <!-- **************************** ROLE_SERVICE_AGENT ********************** -->
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/service-agent/sell">
          Sell
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/service-agent/my-sells">
          My sells
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/service-agent/my-ledger">
          Ledger
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_SERVICE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/service-agent/my-balance">
          Balance
        </a>
      </li>

      <!-- **************************** ROLE_ADMIN_AGENT ********************** -->
      <li class="nav-item" *ngIf="hasAuthority('ROLE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/admin-agent/sell">
          Sell
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/admin-agent/my-sells">
          My sells
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/admin-agent/my-ledger">
          Ledger
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAuthority('ROLE_AGENT')">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard/admin-agent/my-balance">
          Balance
        </a>
      </li>
    </nav>

    <ul class="navbar-nav">
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="serviceAdminAccounting" ngbDropdownToggle>
            Hello,
            <span class="user-name">{{ username }}</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="serviceAdminAccounting">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/change-password">
              Change password
            </a>
          </div>
        </div>
      </li>
      <!-- <li class="nav-item">
          <span class="nav-link">
            Hello, <span class="user-name">{{ username }}</span>
          </span>
        </li> -->
      <li class="nav-item" (click)="logout()">
        <span class="nav-link text-danger font-weight-bold"> Logout </span>
      </li>
    </ul>
  </div>
</nav>