<div class="container-fluid">
  <span class="row px-3 details-title text-left">Pay to ship</span>
</div>

<div class="container-fluid">
  <div class="row m-0">
    <div class="col-md-3 p-0">
      <ship-admin-list (admin)="onSelectAdmin($event)"></ship-admin-list>
    </div>
    <div class="col-md-6" *ngIf="shipAdminLedgerPage">
      <h4>{{ user?.name }} Ledger</h4>
      <table class="table border">
        <thead>
          <tr>
            <th>Date</th>
            <th>Explanation</th>
            <th>Debit</th>
            <th>Credit</th>
            <th class="text-right">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ledger of shipAdminLedgerPage.content">
            <td>{{ ledger.date }}</td>
            <td>{{ ledger.explanation }}</td>
            <td>{{ ledger.debit }}</td>
            <td>{{ ledger.credit }}</td>
            <td class="text-right">
              {{ ledger.balance | currency: 'BDT ':'symbol':'4.2-2' }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <pagination *ngIf="shipAdminLedgerPage != null" [page]="shipAdminLedgerPage" (getPage)="getShipAdminLedgerPage(user?.id, $event)"></pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-center my-5">
        <form class="form-inline" *ngIf="user">
          <div class="form-group mb-2">
            <label> Amount </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input class="form-control" type="number" id="amount" name="amount" [(ngModel)]="amount" />
          </div>
          <button type="submit" class="btn btn-primary mb-2" *ngIf="amount > 0" (click)="addBalace()">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>