.seat-box {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin: 1px;
  padding: 1px;
  text-align: center;
  font-size: 12px;
  &:hover {
    background-color: lightcyan;
  }
}
