<!-- Sukanto Babu Open deck seat plan -->
<div class="row border m-1" style="border-radius: 3px 3px 0px 0px; " *ngIf="categoryName == 'Open Deck'">
  <div class="col-12 bg-secondary text-white" style="border-radius: 3px 3px 0px 0px; ">
    Seat list for
    <strong> {{ category?.name }} </strong>
  </div>
  <div class="seat" *ngFor="let seat of filteredSeatList">
    <div class="seat-box" [ngClass]="{
              selected: selectedSeatContainSeatId(seat.id),
              disabled: !seat.available
            }" (click)="onSeatClick(seat.id)">
      {{ seat.seatNumber }}
    </div>
  </div>
</div>

<!-- Sukanto Babu Main deck seat plan -->
<div class="row border m-1" style="border-radius: 3px 3px 0px 0px; " *ngIf="categoryName == 'Main Deck'">
  <div class="col-12 bg-secondary text-white" style="border-radius: 3px 3px 0px 0px; ">
    Seat list for
    <strong> {{ category?.name }} </strong>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
              selected: selectedSeatContainSeatId(filteredSeatList[0]?.id),
              disabled: !filteredSeatList[0]?.available
            }" (click)="onSeatClick(filteredSeatList[0]?.id)" *ngIf="filteredSeatList.length > 0">
          {{ filteredSeatList[0]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
            selected: selectedSeatContainSeatId(filteredSeatList[44]?.id),
            disabled: !filteredSeatList[44]?.available
          }" (click)="onSeatClick(filteredSeatList[44]?.id)" *ngIf="filteredSeatList.length > 44">
          {{ filteredSeatList[44]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
            selected: selectedSeatContainSeatId(filteredSeatList[45]?.id),
            disabled: !filteredSeatList[45]?.available
          }" (click)="onSeatClick(filteredSeatList[45]?.id)" *ngIf="filteredSeatList.length > 45">
          {{ filteredSeatList[45]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
            selected: selectedSeatContainSeatId(filteredSeatList[89]?.id),
            disabled: !filteredSeatList[89]?.available
          }" (click)="onSeatClick(filteredSeatList[89]?.id)" *ngIf="filteredSeatList.length > 89">
          {{ filteredSeatList[89]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[1]?.id),
                disabled: !filteredSeatList[1]?.available
              }" (click)="onSeatClick(filteredSeatList[1]?.id)" *ngIf="filteredSeatList.length > 1">
          {{ filteredSeatList[1]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
              selected: selectedSeatContainSeatId(filteredSeatList[43]?.id),
              disabled: !filteredSeatList[43]?.available
            }" (click)="onSeatClick(filteredSeatList[43]?.id)" *ngIf="filteredSeatList.length > 43">
          {{ filteredSeatList[43]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
              selected: selectedSeatContainSeatId(filteredSeatList[46]?.id),
              disabled: !filteredSeatList[46]?.available
            }" (click)="onSeatClick(filteredSeatList[46]?.id)" *ngIf="filteredSeatList.length > 46">
          {{ filteredSeatList[46]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
              selected: selectedSeatContainSeatId(filteredSeatList[88]?.id),
              disabled: !filteredSeatList[88]?.available
            }" (click)="onSeatClick(filteredSeatList[88]?.id)" *ngIf="filteredSeatList.length > 88">
          {{ filteredSeatList[88]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                  selected: selectedSeatContainSeatId(filteredSeatList[2]?.id),
                  disabled: !filteredSeatList[2]?.available
                }" (click)="onSeatClick(filteredSeatList[2]?.id)" *ngIf="filteredSeatList.length > 2">
          {{ filteredSeatList[2]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[42]?.id),
                disabled: !filteredSeatList[42]?.available
              }" (click)="onSeatClick(filteredSeatList[42]?.id)" *ngIf="filteredSeatList.length > 42">
          {{ filteredSeatList[42]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[47]?.id),
                disabled: !filteredSeatList[47]?.available
              }" (click)="onSeatClick(filteredSeatList[47]?.id)" *ngIf="filteredSeatList.length > 47">
          {{ filteredSeatList[47]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[87]?.id),
                disabled: !filteredSeatList[87]?.available
              }" (click)="onSeatClick(filteredSeatList[87]?.id)" *ngIf="filteredSeatList.length > 87">
          {{ filteredSeatList[87]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                    selected: selectedSeatContainSeatId(filteredSeatList[3]?.id),
                    disabled: !filteredSeatList[3]?.available
                  }" (click)="onSeatClick(filteredSeatList[3]?.id)" *ngIf="filteredSeatList.length > 3">
          {{ filteredSeatList[3]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                  selected: selectedSeatContainSeatId(filteredSeatList[41]?.id),
                  disabled: !filteredSeatList[41]?.available
                }" (click)="onSeatClick(filteredSeatList[41]?.id)" *ngIf="filteredSeatList.length > 41">
          {{ filteredSeatList[41]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                  selected: selectedSeatContainSeatId(filteredSeatList[48]?.id),
                  disabled: !filteredSeatList[48]?.available
                }" (click)="onSeatClick(filteredSeatList[48]?.id)" *ngIf="filteredSeatList.length > 48">
          {{ filteredSeatList[48]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                  selected: selectedSeatContainSeatId(filteredSeatList[86]?.id),
                  disabled: !filteredSeatList[86]?.available
                }" (click)="onSeatClick(filteredSeatList[86]?.id)" *ngIf="filteredSeatList.length > 86">
          {{ filteredSeatList[86]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                      selected: selectedSeatContainSeatId(filteredSeatList[4]?.id),
                      disabled: !filteredSeatList[4]?.available
                    }" (click)="onSeatClick(filteredSeatList[4]?.id)" *ngIf="filteredSeatList.length > 4">
          {{ filteredSeatList[4]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                    selected: selectedSeatContainSeatId(filteredSeatList[40]?.id),
                    disabled: !filteredSeatList[40]?.available
                  }" (click)="onSeatClick(filteredSeatList[40]?.id)" *ngIf="filteredSeatList.length > 40">
          {{ filteredSeatList[40]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                    selected: selectedSeatContainSeatId(filteredSeatList[49]?.id),
                    disabled: !filteredSeatList[49]?.available
                  }" (click)="onSeatClick(filteredSeatList[49]?.id)" *ngIf="filteredSeatList.length > 49">
          {{ filteredSeatList[49]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                    selected: selectedSeatContainSeatId(filteredSeatList[85]?.id),
                    disabled: !filteredSeatList[85]?.available
                  }" (click)="onSeatClick(filteredSeatList[85]?.id)" *ngIf="filteredSeatList.length > 85">
          {{ filteredSeatList[85]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row" my-2>
      &nbsp;
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                          selected: selectedSeatContainSeatId(filteredSeatList[5]?.id),
                          disabled: !filteredSeatList[5]?.available
                        }" (click)="onSeatClick(filteredSeatList[5]?.id)" *ngIf="filteredSeatList.length > 5">
          {{ filteredSeatList[5]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[39]?.id),
                        disabled: !filteredSeatList[39]?.available
                      }" (click)="onSeatClick(filteredSeatList[39]?.id)" *ngIf="filteredSeatList.length > 39">
          {{ filteredSeatList[39]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[50]?.id),
                        disabled: !filteredSeatList[50]?.available
                      }" (click)="onSeatClick(filteredSeatList[50]?.id)" *ngIf="filteredSeatList.length > 50">
          {{ filteredSeatList[50]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[84]?.id),
                        disabled: !filteredSeatList[84]?.available
                      }" (click)="onSeatClick(filteredSeatList[84]?.id)" *ngIf="filteredSeatList.length > 84">
          {{ filteredSeatList[84]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                          selected: selectedSeatContainSeatId(filteredSeatList[6]?.id),
                          disabled: !filteredSeatList[6]?.available
                        }" (click)="onSeatClick(filteredSeatList[6]?.id)" *ngIf="filteredSeatList.length > 6">
          {{ filteredSeatList[6]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[38]?.id),
                        disabled: !filteredSeatList[38]?.available
                      }" (click)="onSeatClick(filteredSeatList[38]?.id)" *ngIf="filteredSeatList.length > 38">
          {{ filteredSeatList[38]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[51]?.id),
                        disabled: !filteredSeatList[51]?.available
                      }" (click)="onSeatClick(filteredSeatList[51]?.id)" *ngIf="filteredSeatList.length > 51">
          {{ filteredSeatList[51]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[83]?.id),
                        disabled: !filteredSeatList[83]?.available
                      }" (click)="onSeatClick(filteredSeatList[83]?.id)" *ngIf="filteredSeatList.length > 83">
          {{ filteredSeatList[83]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                          selected: selectedSeatContainSeatId(filteredSeatList[7]?.id),
                          disabled: !filteredSeatList[7]?.available
                        }" (click)="onSeatClick(filteredSeatList[7]?.id)" *ngIf="filteredSeatList.length > 7">
          {{ filteredSeatList[7]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[37]?.id),
                        disabled: !filteredSeatList[37]?.available
                      }" (click)="onSeatClick(filteredSeatList[37]?.id)" *ngIf="filteredSeatList.length > 37">
          {{ filteredSeatList[37]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[52]?.id),
                        disabled: !filteredSeatList[52]?.available
                      }" (click)="onSeatClick(filteredSeatList[52]?.id)" *ngIf="filteredSeatList.length > 52">
          {{ filteredSeatList[52]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[82]?.id),
                        disabled: !filteredSeatList[82]?.available
                      }" (click)="onSeatClick(filteredSeatList[82]?.id)" *ngIf="filteredSeatList.length > 82">
          {{ filteredSeatList[82]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                          selected: selectedSeatContainSeatId(filteredSeatList[8]?.id),
                          disabled: !filteredSeatList[8]?.available
                        }" (click)="onSeatClick(filteredSeatList[8]?.id)" *ngIf="filteredSeatList.length > 8">
          {{ filteredSeatList[8]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[36]?.id),
                        disabled: !filteredSeatList[36]?.available
                      }" (click)="onSeatClick(filteredSeatList[36]?.id)" *ngIf="filteredSeatList.length > 36">
          {{ filteredSeatList[36]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[53]?.id),
                        disabled: !filteredSeatList[53]?.available
                      }" (click)="onSeatClick(filteredSeatList[53]?.id)" *ngIf="filteredSeatList.length > 53">
          {{ filteredSeatList[53]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[81]?.id),
                        disabled: !filteredSeatList[81]?.available
                      }" (click)="onSeatClick(filteredSeatList[81]?.id)" *ngIf="filteredSeatList.length > 81">
          {{ filteredSeatList[81]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                          selected: selectedSeatContainSeatId(filteredSeatList[9]?.id),
                          disabled: !filteredSeatList[9]?.available
                        }" (click)="onSeatClick(filteredSeatList[9]?.id)" *ngIf="filteredSeatList.length > 9">
          {{ filteredSeatList[9]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[35]?.id),
                        disabled: !filteredSeatList[35]?.available
                      }" (click)="onSeatClick(filteredSeatList[35]?.id)" *ngIf="filteredSeatList.length > 35">
          {{ filteredSeatList[35]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[54]?.id),
                        disabled: !filteredSeatList[54]?.available
                      }" (click)="onSeatClick(filteredSeatList[54]?.id)" *ngIf="filteredSeatList.length > 54">
          {{ filteredSeatList[54]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                        selected: selectedSeatContainSeatId(filteredSeatList[80]?.id),
                        disabled: !filteredSeatList[80]?.available
                      }" (click)="onSeatClick(filteredSeatList[80]?.id)" *ngIf="filteredSeatList.length > 80">
          {{ filteredSeatList[80]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row" my-2>
      &nbsp;
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                              selected: selectedSeatContainSeatId(filteredSeatList[10]?.id),
                              disabled: !filteredSeatList[10]?.available
                            }" (click)="onSeatClick(filteredSeatList[10]?.id)" *ngIf="filteredSeatList.length > 10">
          {{ filteredSeatList[10]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[34]?.id),
                            disabled: !filteredSeatList[34]?.available
                          }" (click)="onSeatClick(filteredSeatList[34]?.id)" *ngIf="filteredSeatList.length > 34">
          {{ filteredSeatList[34]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[55]?.id),
                            disabled: !filteredSeatList[55]?.available
                          }" (click)="onSeatClick(filteredSeatList[55]?.id)" *ngIf="filteredSeatList.length > 55">
          {{ filteredSeatList[55]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[79]?.id),
                            disabled: !filteredSeatList[79]?.available
                          }" (click)="onSeatClick(filteredSeatList[79]?.id)" *ngIf="filteredSeatList.length > 79">
          {{ filteredSeatList[79]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                              selected: selectedSeatContainSeatId(filteredSeatList[11]?.id),
                              disabled: !filteredSeatList[11]?.available
                            }" (click)="onSeatClick(filteredSeatList[11]?.id)" *ngIf="filteredSeatList.length > 11">
          {{ filteredSeatList[11]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[33]?.id),
                            disabled: !filteredSeatList[33]?.available
                          }" (click)="onSeatClick(filteredSeatList[33]?.id)" *ngIf="filteredSeatList.length > 33">
          {{ filteredSeatList[33]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[56]?.id),
                            disabled: !filteredSeatList[56]?.available
                          }" (click)="onSeatClick(filteredSeatList[56]?.id)" *ngIf="filteredSeatList.length > 56">
          {{ filteredSeatList[56]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[78]?.id),
                            disabled: !filteredSeatList[78]?.available
                          }" (click)="onSeatClick(filteredSeatList[78]?.id)" *ngIf="filteredSeatList.length > 78">
          {{ filteredSeatList[78]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                              selected: selectedSeatContainSeatId(filteredSeatList[12]?.id),
                              disabled: !filteredSeatList[12]?.available
                            }" (click)="onSeatClick(filteredSeatList[12]?.id)" *ngIf="filteredSeatList.length > 12">
          {{ filteredSeatList[12]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[32]?.id),
                            disabled: !filteredSeatList[32]?.available
                          }" (click)="onSeatClick(filteredSeatList[32]?.id)" *ngIf="filteredSeatList.length > 32">
          {{ filteredSeatList[32]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[57]?.id),
                            disabled: !filteredSeatList[57]?.available
                          }" (click)="onSeatClick(filteredSeatList[57]?.id)" *ngIf="filteredSeatList.length > 57">
          {{ filteredSeatList[57]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[77]?.id),
                            disabled: !filteredSeatList[77]?.available
                          }" (click)="onSeatClick(filteredSeatList[77]?.id)" *ngIf="filteredSeatList.length > 77">
          {{ filteredSeatList[77]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                              selected: selectedSeatContainSeatId(filteredSeatList[13]?.id),
                              disabled: !filteredSeatList[13]?.available
                            }" (click)="onSeatClick(filteredSeatList[13]?.id)" *ngIf="filteredSeatList.length > 13">
          {{ filteredSeatList[13]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[31]?.id),
                            disabled: !filteredSeatList[31]?.available
                          }" (click)="onSeatClick(filteredSeatList[31]?.id)" *ngIf="filteredSeatList.length > 31">
          {{ filteredSeatList[31]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[58]?.id),
                            disabled: !filteredSeatList[58]?.available
                          }" (click)="onSeatClick(filteredSeatList[58]?.id)" *ngIf="filteredSeatList.length > 58">
          {{ filteredSeatList[58]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[76]?.id),
                            disabled: !filteredSeatList[76]?.available
                          }" (click)="onSeatClick(filteredSeatList[76]?.id)" *ngIf="filteredSeatList.length > 76">
          {{ filteredSeatList[76]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                              selected: selectedSeatContainSeatId(filteredSeatList[14]?.id),
                              disabled: !filteredSeatList[14]?.available
                            }" (click)="onSeatClick(filteredSeatList[14]?.id)" *ngIf="filteredSeatList.length > 14">
          {{ filteredSeatList[14]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[30]?.id),
                            disabled: !filteredSeatList[30]?.available
                          }" (click)="onSeatClick(filteredSeatList[30]?.id)" *ngIf="filteredSeatList.length > 30">
          {{ filteredSeatList[30]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[59]?.id),
                            disabled: !filteredSeatList[59]?.available
                          }" (click)="onSeatClick(filteredSeatList[59]?.id)" *ngIf="filteredSeatList.length > 59">
          {{ filteredSeatList[59]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                            selected: selectedSeatContainSeatId(filteredSeatList[75]?.id),
                            disabled: !filteredSeatList[75]?.available
                          }" (click)="onSeatClick(filteredSeatList[75]?.id)" *ngIf="filteredSeatList.length > 75">
          {{ filteredSeatList[75]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row" my-2>
      &nbsp;
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                  selected: selectedSeatContainSeatId(filteredSeatList[15]?.id),
                                  disabled: !filteredSeatList[15]?.available
                                }" (click)="onSeatClick(filteredSeatList[15]?.id)" *ngIf="filteredSeatList.length > 15">
          {{ filteredSeatList[15]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[29]?.id),
                                disabled: !filteredSeatList[29]?.available
                              }" (click)="onSeatClick(filteredSeatList[29]?.id)" *ngIf="filteredSeatList.length > 29">
          {{ filteredSeatList[29]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[60]?.id),
                                disabled: !filteredSeatList[60]?.available
                              }" (click)="onSeatClick(filteredSeatList[60]?.id)" *ngIf="filteredSeatList.length > 60">
          {{ filteredSeatList[60]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[74]?.id),
                                disabled: !filteredSeatList[74]?.available
                              }" (click)="onSeatClick(filteredSeatList[74]?.id)" *ngIf="filteredSeatList.length > 74">
          {{ filteredSeatList[74]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                  selected: selectedSeatContainSeatId(filteredSeatList[16]?.id),
                                  disabled: !filteredSeatList[16]?.available
                                }" (click)="onSeatClick(filteredSeatList[16]?.id)" *ngIf="filteredSeatList.length > 16">
          {{ filteredSeatList[16]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[28]?.id),
                                disabled: !filteredSeatList[28]?.available
                              }" (click)="onSeatClick(filteredSeatList[28]?.id)" *ngIf="filteredSeatList.length > 28">
          {{ filteredSeatList[28]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[61]?.id),
                                disabled: !filteredSeatList[61]?.available
                              }" (click)="onSeatClick(filteredSeatList[61]?.id)" *ngIf="filteredSeatList.length > 61">
          {{ filteredSeatList[61]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[73]?.id),
                                disabled: !filteredSeatList[73]?.available
                              }" (click)="onSeatClick(filteredSeatList[73]?.id)" *ngIf="filteredSeatList.length > 73">
          {{ filteredSeatList[73]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                  selected: selectedSeatContainSeatId(filteredSeatList[17]?.id),
                                  disabled: !filteredSeatList[17]?.available
                                }" (click)="onSeatClick(filteredSeatList[17]?.id)" *ngIf="filteredSeatList.length > 17">
          {{ filteredSeatList[17]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[27]?.id),
                                disabled: !filteredSeatList[27]?.available
                              }" (click)="onSeatClick(filteredSeatList[27]?.id)" *ngIf="filteredSeatList.length > 27">
          {{ filteredSeatList[27]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[62]?.id),
                                disabled: !filteredSeatList[62]?.available
                              }" (click)="onSeatClick(filteredSeatList[62]?.id)" *ngIf="filteredSeatList.length > 62">
          {{ filteredSeatList[62]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[72]?.id),
                                disabled: !filteredSeatList[72]?.available
                              }" (click)="onSeatClick(filteredSeatList[72]?.id)" *ngIf="filteredSeatList.length > 72">
          {{ filteredSeatList[72]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                  selected: selectedSeatContainSeatId(filteredSeatList[18]?.id),
                                  disabled: !filteredSeatList[18]?.available
                                }" (click)="onSeatClick(filteredSeatList[17]?.id)" *ngIf="filteredSeatList.length > 18">
          {{ filteredSeatList[18]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[26]?.id),
                                disabled: !filteredSeatList[26]?.available
                              }" (click)="onSeatClick(filteredSeatList[26]?.id)" *ngIf="filteredSeatList.length > 26">
          {{ filteredSeatList[26]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[63]?.id),
                                disabled: !filteredSeatList[63]?.available
                              }" (click)="onSeatClick(filteredSeatList[63]?.id)" *ngIf="filteredSeatList.length > 63">
          {{ filteredSeatList[63]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[71]?.id),
                                disabled: !filteredSeatList[71]?.available
                              }" (click)="onSeatClick(filteredSeatList[71]?.id)" *ngIf="filteredSeatList.length > 71">
          {{ filteredSeatList[71]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                  selected: selectedSeatContainSeatId(filteredSeatList[19]?.id),
                                  disabled: !filteredSeatList[19]?.available
                                }" (click)="onSeatClick(filteredSeatList[19]?.id)" *ngIf="filteredSeatList.length > 19">
          {{ filteredSeatList[19]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[25]?.id),
                                disabled: !filteredSeatList[25]?.available
                              }" (click)="onSeatClick(filteredSeatList[25]?.id)" *ngIf="filteredSeatList.length > 25">
          {{ filteredSeatList[25]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[64]?.id),
                                disabled: !filteredSeatList[64]?.available
                              }" (click)="onSeatClick(filteredSeatList[64]?.id)" *ngIf="filteredSeatList.length > 64">
          {{ filteredSeatList[64]?.seatNumber }}
        </div>
      </div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2"></div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[70]?.id),
                                disabled: !filteredSeatList[70]?.available
                              }" (click)="onSeatClick(filteredSeatList[70]?.id)" *ngIf="filteredSeatList.length > 70">
          {{ filteredSeatList[70]?.seatNumber }}
        </div>
      </div>
    </div>
    <div class="row" my-2>
      &nbsp;
    </div>
    <div class="row">
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                  selected: selectedSeatContainSeatId(filteredSeatList[20]?.id),
                                  disabled: !filteredSeatList[20]?.available
                                }" (click)="onSeatClick(filteredSeatList[20]?.id)" *ngIf="filteredSeatList.length > 20">
          {{ filteredSeatList[20]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[21]?.id),
                disabled: !filteredSeatList[21]?.available
              }" (click)="onSeatClick(filteredSeatList[21]?.id)" *ngIf="filteredSeatList.length > 21">
          {{ filteredSeatList[21]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[22]?.id),
                disabled: !filteredSeatList[22]?.available
              }" (click)="onSeatClick(filteredSeatList[22]?.id)" *ngIf="filteredSeatList.length > 22">
          {{ filteredSeatList[22]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[23]?.id),
                disabled: !filteredSeatList[23]?.available
              }" (click)="onSeatClick(filteredSeatList[23]?.id)" *ngIf="filteredSeatList.length > 23">
          {{ filteredSeatList[23]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[24]?.id),
                                disabled: !filteredSeatList[24]?.available
                              }" (click)="onSeatClick(filteredSeatList[24]?.id)" *ngIf="filteredSeatList.length > 24">
          {{ filteredSeatList[24]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[65]?.id),
                                disabled: !filteredSeatList[65]?.available
                              }" (click)="onSeatClick(filteredSeatList[65]?.id)" *ngIf="filteredSeatList.length > 65">
          {{ filteredSeatList[65]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[66]?.id),
                disabled: !filteredSeatList[66]?.available
              }" (click)="onSeatClick(filteredSeatList[66]?.id)" *ngIf="filteredSeatList.length > 66">
          {{ filteredSeatList[66]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[67]?.id),
                disabled: !filteredSeatList[67]?.available
              }" (click)="onSeatClick(filteredSeatList[67]?.id)" *ngIf="filteredSeatList.length > 67">
          {{ filteredSeatList[67]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                selected: selectedSeatContainSeatId(filteredSeatList[68]?.id),
                disabled: !filteredSeatList[68]?.available
              }" (click)="onSeatClick(filteredSeatList[68]?.id)" *ngIf="filteredSeatList.length > 68">
          {{ filteredSeatList[68]?.seatNumber }}
        </div>
      </div>
      <div class="seat2">
        <div class="seat2-box" [ngClass]="{
                                selected: selectedSeatContainSeatId(filteredSeatList[69]?.id),
                                disabled: !filteredSeatList[69]?.available
                              }" (click)="onSeatClick(filteredSeatList[69]?.id)" *ngIf="filteredSeatList.length > 69">
          {{ filteredSeatList[69]?.seatNumber }}
        </div>
      </div>
    </div>
  </div>
</div>