<div class="container-fluid">
  <span class="row px-3 details-title text-left">Agents</span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <service-admin-agent-list
        [userPage]="userPage"
        (userId)="onSelect($event)"
        (page)="getServiceAdminAgents($event)"
      >
      </service-admin-agent-list>
    </div>
    <div class="col-md-6">
      <div class="p-3 shadow-sm">
        <h3 class="text-center">Add Agent</h3>
        <agent-form
          [user]="user"
          (create)="onCreate($event)"
          (removeAgent)="onRemoveAgent($event)"
        ></agent-form>
      </div>
    </div>
  </div>
</div>
