<div class="container-fluid">
  <span class="row px-3 details-title text-left">Ship list</span>
</div>
<div class="container">
  <table class="table table-hover table-responsive-sm border">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Enabled</th>
        <th>Route</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ship of shipPage?.content">
        <td>{{ ship.name }}</td>
        <td>{{ ship.phoneNumber }}</td>
        <td>{{ ship.enabled }}</td>
        <td>
          {{ ship.route }}
        </td>
        <td>
          <button
            class="btn btn-sm btn-success mr-1"
            (click)="onDetails(ship.id)"
          >
            Details
          </button>
          <a
            class="btn btn-sm btn-info mr-1"
            routerLink="/dashboard/admin/category/byShiplId/{{ ship.id }}"
          >
            Add Category
          </a>
          <a
            class="btn btn-sm btn-info mr-1"
            routerLink="/dashboard/admin/rooms/add/byShipId/{{ ship.id }}"
          >
            Add Seat
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
