/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.min.css';
@import 'variables';

@font-face {
  font-family: 'Bitter';
  src: url('assets/fonts/Bitter/Bitter-Regular.ttf');
}

.details-title {
  display: block;
  font-size: 25px;
  font-weight: 400;
  padding: 10px 0 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
  /* color: #212121; */
  color: $text-primary-color;
  background: $page-title-color;
}

.table th,
.table td {
  padding: 0.2rem;
}

* {
  font-size: 14px;
}
